.display {
    display: block;
}

.displayFlex {
    display: flex;
}

.hide {
    display: none;
}

.blueBg {
    background: linear-gradient(.25turn, #155bdd, #cc6666);
}

.transparentBg {
    background: transparent;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}