@import "base/utilities";

@import 'components/footer';
@import 'components/header';
@import 'components/homeCard';

@import 'pages/home';
@import 'pages/login';
@import 'pages/solutions';
@import 'pages/ticketStatus';
@import 'pages/submitTicket';

@import 'vendors/normalize';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: white;
}